<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assigner</title>
</head>
<body>
<h1>Assigners:</h1>
<h3>Add Assigners</h3>
<form  th:action="@{/addAssigner}" th:object="${assigners}" method="POST">
    <input type="text" th:field="*{name}" required>
    <input type="email" th:field="*{email}" required>
    <input type="submit" value="Submit"/>
</form>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <tr th:each="assigne: ${assigness}">
        <td th:text="${assigne.getId()}"></td>
        <td th:text="${assigne.getName()}"></td>
        <td th:text="${assigne.getEmail()}"></td>
        <td><form th:action="@{|${assigne.id}/delete|}" th:method="delete">
            <input type="submit" value="Delete">
    </tr>
</table>

</body>
</html>