<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css"/>
    <title>Edit here</title>
</head>
<body>

<h1>Edit here:</h1>

<form action="#" th:action="@{|${assignee.getId()}/updateAssigner|}" th:object="${assignee}" th:method="post">
    <input type="text" th:field="*{name}" required th:placeholder="${assignee.getName()}">
    <input type="text" th:field="*{email}" required th:placeholder="${assignee.getEmail()}">
    <input type="submit" th:value="Submit">
</form>
</body>
</html>