<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your search result</title>
</head>
<body>
<h1>Your search Result:</h1>
<form method="post" action="/todo/search">
    <label class="searchLabel" for="searchbox">Search for: </label>
    <br>
    <input id="searchbox" type="search" name="searchField" placeholder="Search for what you want...">
    <input type="submit" value="search">
</form>
<table>
    <tr>
        <th>ID</th>
        <th>Action</th>
        <th>Done</th>
        <th>Urgent</th>
    </tr>
    <tr th:each="todo:${searchFiled}">
        <td th:text="${todo.getId()}"></td>
        <td th:text="${todo.getTitle()}"></td>
        <td th:text="${todo.isDone()}"></td>
        <td th:text="${todo.isUrgent()}"></td>
        <td><form th:action="@{'/todo/'+${todo.id}+'/delete'}" th:method="delete">
            <input type="submit" value="Delete">
        </form></td>
        <td><a th:href="@{'/todo/'+${todo.id}+'/update'}">EDIT</a></td>
    <tr/>
</table>

</body>
</html>