@model List<WebApplication.Models.Assignee>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add new assignee</title>
</head>
<body>
    <h1>Add new Assignee </h1>
    <form method="POST">
        <input type="text" name="Name" />
        <input type="text" name="Email" />
        <input type="submit" value="Submit" class="submit" />
    </form>

</body>
</html>