@model List<WebApplication.Models.Todo>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add new todo</title>
</head>
<body>
    <h1>Add new todo </h1>
    <form method="POST">
        <input type="text" name="Title"/>
        <input type="submit" value="Submit" class="submit" />
    </form>

</body>
</html>