<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fox page</title>
</head>
<body>
<li><a href="index/information"> Information;</a></li>
<br>
<img src="greenfox.png" height="250" width="250">
<p th:text="|This is ${fox.getName()}  Currently living on ${fox.getFood()} and ${fox.getDrink()} He knows ${fox.getTrick().size()} tricks |"></p>
<h1>Knowing tricks</h1>
<ul th:each="trick : ${fox.getTrick()}">
    <li th:text="${trick}"></li>
</ul>
</body>
</html>