<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Balance</th>
            <th>AnimalType</th>
        </tr>
        <tr th:each="animal : ${getCharacters}">
            <td th:text="${animal.getName()}"></td>
            <td th:text="${animal.getBalance()}+' zebra'"></td>
            <td th:text="${animal.getAnimalType()}"></td>
        </tr>
    </table>
</body>
</html>