<!DOCTYPE html>
<html lang="en" xmlns:color="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Basic Webshop</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
<div class="mainBox">
    <h1>My Shop</h1>
    <div class="line"></div>
    <div class="links">
        <a href="/home">HOME</a>
        <a href="/only-available">ONLY AVAILABLE</a>
        <a href="/cheapest-first">CHEAPEST FIRST</a>
        <a href="contains-nike">CONTAINS NIKE</a>
        <a href="url">link text</a>
    </div>
    <div class="searchBox">
        <form method="get" action="http://index.hu">
            <p>Search for:</p>
            <input type="search" placeholder="...something like nike" class="searchBar">
            <input type="submit" value="Search" class="searchButton">
        </form>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity of stock</th>
        </tr>
        <div class="average">
            <tr th:text="'Average stock : ' + ${avrageStock}">
        </div>
        </tr>
    </table>
</div>
</body>
</html>