<!DOCTYPE html>
<html lang="en" xmlns:color="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Basic Webshop</title>
    <link rel="stylesheet" type="text/css" href="/all.css">
</head>
<body>
<div class="mainBox">
    <h1>My Shop</h1>
    <div class="line"></div>
    <div class="links">
        <a href="/only-available">ONLY AVAILABLE</a>
        <a href="/cheapest-first">CHEAPEST FIRST</a>
        <a href="contains-nike">CONTAINS NIKE</a>
        <a href="/average-stock">AVERAGE STOCK</a>
        <a href="/most-expensive">MOST EXPENSIVE AVAILABLE</a>
    </div>
    <div class="searchBox">
        <form method="post" action="/home/search">
            <label class="searchLabel" for="searchbox">Search for: </label>
            <input id="searchbox" type="search" name="searchField" placeholder="something like nike...">
            <input type="submit" value="search">
        </form>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity of stock</th>
        </tr>
        <tr th:each="item : ${items}">
            <td th:text="${item.getName()}"></td>
            <td th:text="${item.getDescription()}"></td>
            <td th:text="${item.getPrice()} + ' Ft'"></td>
            <td th:text="${item.getQuantityOfStock()}"></td>
        </tr>
    </table>
</div>
</body>
</html>