body{
    background-color: lightgrey;
    font-family: "Microsoft PhagsPa";
}

.loginBox {
    width: 400px;
    height: 400px;
    background-color: white;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-200px;
    margin-left:-200px;
}


.boxInBox{
    margin: 50px;
}

h1{
    font-weight: normal;
    font-size: 20px;
}

.inputInfo{
    padding-top: 20px;
    font-size: 10px;
}

.passwordEye{
    background: url("oneeye.png") no-repeat;
    background-position: right;
    background-size: 5%;
}

.forgotPass{
    font-size: 9px;
    text-align: right;
}

.submitButton{
    padding: 15px 40px;
    margin-top: 10px;
    color: white;
    border-radius: 30px;
    background-color: black;
    border-style: hidden;
}

