<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login </title>
</head>
<body>
<h1>Welcome to Programmer Fox Club !</h1>
<p>Please provide a name to associate to your pet.</p>
<form th:action="@{'/addnewFox/'+${userId}}" method="post" th:object="${newFox}">
    <label for="loginName">Name: </label>
    <input id="loginName" type="text" th:field="*{name}">
    <br>
    <label for="logintrick">Tricks: </label>
    <input id="logintrick" type="text" th:field="*{tricks}">
    <br>
    <label for="loginFood">Food: </label>
    <input id="loginFood" type="text" th:field="*{food}">
    <br>
    <label for="loginDrink">Drink: </label>
    <input id="loginDrink" type="text" th:field="*{drink}">

    <input type="submit" value="GO">
</form>
</body>
</html>